<br/>
<div class="ui raised center aligned container segment">
  <h3 class="ui horizontal divider header"><i class="tag icon"></i><%= @category.name %></h3>
  <div class="ui secondary pointing top attached menu">
    <a class="active item" id="groups">小组赛</a>
    <a class="item" id="advance">晋级赛</a>
    <a class="item" id="final">决赛类</a>
    <form action="/board" method="post" data-remote="true" id="compete_form">
      <input type="hidden" name="compete" value="">
      <input type="hidden" name="category" value="<%= @category.name %>">
    </form>
  </div>
  <div class="board_part">
    <% if not @category.name=="羽毛球"%>
      <%= render partial:'teams/board_form',locals:{category: @category,sort_teams:@sort_teams}%>
    <%else%>
      <%= render partial:'teams/badminton',locals:{form_name:"小组赛表单",action:"groups"}%>
    <% end %>
  </div>

  <% if params[:search] %>
    <form action="/sports/search" method="post">
      <input name="search[title]" type="hidden" >
      <input name="search[week_]" type="hidden" >
      <input name="search[wday_]" type="hidden" >
      <input name="search[key]" type="hidden">
      <button class="ui centered grey button" type="submit" >返回搜索结果</button>
    </form>
  <% end %>
</div>
