
<table class="ui celled table">
  <thead>
    <tr><th>队伍</th>
      <th>得分</th></tr>
  </thead>

  <tbody>
    <% sports.each do |sport| %>
    <tr>
      <td><%= sport.teamone %></td>
      <td><%= sport.wp %></td>
    </tr>
    <% end %>
  </tbody>

</table>
