<div class="ui top fixed inverted menu">
  <div class="item">
    <i class="list layout icon"></i>
  </div>
  <div class="right menu">
  <% if current_user %>
    <a class="item">你好！</a>
  <% end %>
    <div class="ui dropdown item">
          管理员操作
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/signup">SignUp</a>
          <a class="item" href="/login">Login</a>
        </div>
    </div>
  </div>
</div>

<div class="ui yellow inverted center aligned padded segment">
<br/>
<h1>北航第七届体育文化节</h1>
<img class="ui small centered circular image" src="http://ofnfnmmn0.bkt.clouddn.com/buaa.jpg"></img>
<img class="ui medium centered image" src="/tylogo-n2.png">
<br/>
<%= render 'search' %>
<br/>
<h4 class="ui horizontal divider header"><i class="bar chart icon"></i>项目概览</h4>
<div class="ui six column stackable grid">
  <div class="column">
    <h2 class="ui icon header">
      <i class="soccer icon" id="soccer" ></i>
    <div class="content">足球<div class="sub header">反正足球挺好玩的～</div>
  </div>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
      <i class="users icon" id="basketball" ></i>
    <div class="content">篮球<div class="sub header">一掷千进，只入你心</div>
  </div>
    </h2></div>
  <div class="column">
    <h2 class="ui icon header">
    <i class="neuter icon" id="badminton"></i>
    <div class="content">羽毛球<div class="sub header">无羽伦比，谁羽争锋</div></div>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
    <i class="forumbee icon" id="pingpong"></i>
    <div class="content">乒乓球<div class="sub header">乒你个春夏秋冬，乓我个无怨无悔</div></div>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
    <i class="circle icon" id="billiard"></i>
    <div class="content">台球<div class="sub header">旋转，碰撞，摩擦，不只是动量守恒</div></div>
    </h2>
  </div>
  <div class="column">
    <h2 class="ui icon header">
    <i class="game icon" id="interest"></i>
    <div class="content">趣味项目<div class="sub header">我的意中人，会骑着七彩毛毛虫来接我</div></div>
    </h2>
  </div>
</div>
<%= link_to 'new',new_sport_path %>
</div>
<%= render 'table' %>
