<br/>
<div class="ui raised container segment">
  <h2 class="ui center aligned header">搜索结果</h2>
  <div class="ui grid">
    <div class="ui two wide column"></div>
    <div class="ui twelve wide column">
      <div class="ui raised segemnts">
        <%= render partial:'sports/cards',locals:{sports: @sports}%>
        </div>
      </div>
    <div class="ui two wide column"></div>
  </div>
</div>
